<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrfToken }}">
    <title>{{ config.APP_NAME }}</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand text-uppercase"><a href="/">{{ config.APP_NAME }}</a></h3>
                <nav class="nav nav-masthead justify-content-center">
                    {% if auth.guest() %}
                        <a class="nav-link {% if data.menu_active === 'register' %}active{% endif %}" href="/register">Register</a>
                        <a class="nav-link {% if data.menu_active === 'login' %}active{% endif %}" href="/login">Login</a>
                    {% else %}
                        <a class="nav-link {% if data.menu_active === 'home' %}active{% endif %}" href="/home">Home</a>
                        {% include "./logout.html" %}
                    {% endif %}
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            {% block content %}{% endblock %}
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner text-center">
                <p>{{ config.APP_NAME }}, {{ global.date.getFullYear() }}</p>
            </div>
        </footer>
    </div>
</body>
</html>
